body {
  background-image: url(../src/assets/images/background.png);
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: 100% 0;
}

img {
  max-width: 100%;
}

.volkhov {
  font-family: 'Volkhov', serif;
}

.color-orange{
  color: #DF6951;
}

.tagline{
  font-size: 1.5rem;
  text-transform: uppercase;
}