body {
  background-image: url(../src/assets/images/background.png);
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: 100% 0;
}

img {
  max-width: 100%;
}
.volkhov {
  font-family: 'Volkhov', serif;
}